*
{
 margin:0%;
 padding:0%;
 box-sizing:box-border;

}
body
{
	width:100%;
	height:100vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('images/banner.jpg');
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

}
.logo
{
	height:100px;
	width:100px;
	position:relative;
	left:150px;
}	
.form
{
		 height:650px;
		 width:530px;
		background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(14,9,9,0.7763480392156863) 0%, rgba(9,9,14,0.8379726890756303) 100%, rgba(159,38,97,1) 100%);
		 border-radius: 10px;
		 border: 1px solid rgba( 255, 255, 255, 0.18 );
		 position:absolute;
		 transfrom:transparent(-50%,-50%);
		 border-radius:20px;
		 left:490%;
		 top:150%;
}
.formcontent
{
	
		 
		 height:550px;
		 width:90%;
		 margin:50px auto;
		 left:37%;
		 top:20%;
}
h1
{
		font-size:39px;
		color:white;
		
}
.input
{
	margin-top:10%;
}
input
{
	height:45px;
	width:80%;
	background : none;
	border:1px solid white;
	color:white;
	border-radius: 0px;
	position:relative;
	transfrom:translate(-50%,-50%);
	left:2%;
	top:-50px;
	
	
}
::placeholder
{
	padding-left:50px:
	
}
h2
{
	font-family:bold;
	position:absolute;
	top:49%;
	left:39%;
	color:white;
	
}
h3
{
	color:white;
	text-align:center;
	position:absolute;
	top:64%;
	left:35%;
}
.checks
{
	height:20px;
	width:20px;
	position:absolute;
	top:75%;
	
}
span
{
	color:white;
	position:absolute;
	top:75%;
	left:9%;
	font-size:20px;
}
p
{
	font-size:20px;
	position:absolute;
	top:81%;
	left:2%;
	
}
.p1
{
	font-size:19px;
	position:absolute;
	top:81.10%;
	left:25%;
	
}
.text
{
	font-size:14px;
	position:absolute;
	top:90%;
	left:3%;
}